body{
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
    font-size: 2em;
    margin: 0;
}

h2{
    font-size: 1.5em;
    margin: 0, 15px, 0, 0;
}

h3{
    font-size: 1em;
    margin: 0;
}

h4{
    font-size: 1em;
    font-style: italic;
    margin: 0;
}

ul{    max-width: 90%;  }

.floating{
    position: relative;
    text-align: center;
}

#job{   font-style: italic;    }

.content{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;

    min-width: 50vw;
    max-width: 1000px;
    margin: auto;
}

#Skills{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;

    margin: 0;
}

.uls{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: stretch;

    margin: auto;
}

#Programming{
    margin-right: 10px;
}

#Software{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.uls{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;

    margin: 0;
}

.softgrams{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
}

.softgrams div{
    padding: 5px, 0;
    margin-right: 50px;
}